﻿@model dynamic

@{
    ViewBag.Title = "Expenses";

}

<script>
    function sum() {
        var n1 = Number(document.getElementById('Alimentacion').value);
        var n2 = Number(document.getElementById('Cuentas').value);
        var n3 = Number(document.getElementById('Casa').value);
        var n4 = Number(document.getElementById('Vestuario').value);
        var n5 = Number(document.getElementById('Salud').value);
        var n6 = Number(document.getElementById('Diversion').value);
        var n7 = Number(document.getElementById('Otros').value);
        var n8 = Number(document.getElementById('Transporte').value);
        var total = n1 + n2 + n3 + n4 + n5 + n6 + n7 + n8;
        document.getElementById('total').setAttribute('value', total);
    }

    document.getElementById('datePicker').valueAsDate = new Date();
</script>

<h2 align="center">Digite sus gastos</h2>

@using (@Html.BeginForm("SendExpenses", "Person"))
{
    <form method="post" name="f" class="form-group">
        <table align="center">
            <tr>
                <td><label for="Alimentacion" class="form-group">Alimentacion</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Alimentacion" id="Alimentacion" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Cuentas" class="form-group">Cuentas</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Cuentas" id="Cuentas" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Casa" class="form-group">Casa</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Casa" id="Casa" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Transporte" class="form-group">Transporte</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Transporte" id="Transporte" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Vestuario" class="form-group">Vestuario</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Vestuario" id="Vestuario" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Salud" class="form-group">Salud</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Salud" id="Salud" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Diversion" class="form-group">Diversion</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Diversion" id="Diversion" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Otros" class="form-group">Otros</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="Otros" id="Otros" value="0" class="form-control" onchange="sum()" /></td>
            </tr>
            <tr>
                <td><label for="Time">Dia</label></td>
                <td><input type="date" class="form-control" name="Time" /></td>
            </tr>
            <tr>
                <td><input type="number" hidden="hidden" value="@Session["IdPerson"]" name="PersonId" /></td>
            </tr>
            <tr>
                <td><label for="total" class="form-control">Total:</label></td>
                <td><input type="text" name="total" id="total" value="0" Class="form-control" readonly /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary" /></td>
            </tr>

        </table>
    </form>
}