﻿@model IEnumerable<Prueba_tecnica.Models.IncomeExpenses>
@{ int totalincome = 0;
    int totalexpenses = 0;
    int total = 0;
    }
@{
    ViewBag.Title = "Informe";
}

<h2 align="center">Obtener su informe</h2>
<p align="center">Seleccione un rango de fechas</p>

@using (Html.BeginForm("GetReport", "Person"))
{
    <form>
        <table align="center">
            <tr>
                <td><label for="firstDate">Desde:</label></td>
                <td><input type="date" name="firstDate" class="form-control" /></td>
            </tr>
            <tr>
                <td><label for="LastDate">Hasta:</label></td>
                <td><input type="date" name="LastDate" class="form-control" /></td>
            </tr>
            <tr>
                <td><input type="number" hidden="hidden" value="@Session["IdPerson"]" name="PersonId" /></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
}

<div class="container">
    <h2>Gastos</h2>
    <table align="center" class="table table-bordered">
        <tr>
            <td>Nombre</td>
            <td>Valor</td>
            <td>Opcion</td>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IncExp == 1)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Value)</td>
                    <td>@Html.ActionLink("Eliminar", "DelField", new {FieldId = item.Id})</td>
                </tr>


                { totalincome = (int)(totalincome + item.Value); }
            }
        }
        <tr>
            <td>Total</td>
            <td>@totalincome</td>
        </tr>
    </table>

    <h2>Ingresos</h2>
    <table align="center" class="table table-bordered">
        <tr>
            <td>Nombre</td>
            <td>Valor</td>
            <td>Opcion</td>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IncExp == 2)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Value)</td>
                    <td>@Html.ActionLink("Eliminar", "DelField", new { FieldId = item.Id })</td>
                </tr>
                { totalexpenses = (int)(totalexpenses + item.Value); }
            }

        }
        <tr>
            <td>Total</td>
            <td>@totalexpenses</td>
        </tr>
    </table>
    @{total = (int)(totalexpenses - totalincome); }
    <table class="table table-hover">
        <tr>
            <td>Ingresos totales</td>
            <td>@totalincome</td>
        </tr>
        <tr>
            <td>Gastos totales</td>
            <td>@totalexpenses</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>@total</td>
        </tr>
    </table>
</div>