﻿@model dynamic

@{
    ViewBag.Title = "Incomes";
    
}

<script>
    function sum() {
        var n1 = Number(document.getElementById('sueldo').value);
        var n2 = Number(document.getElementById('bonos').value);
        var n3 = Number(document.getElementById('otros').value);
        var total = n1 + n2 + n3;
        document.getElementById('total').setAttribute('value', total);
    }

    document.getElementById('datePicker').valueAsDate = new Date();
</script>

<h2 align="center">Digite sus ingresos</h2>

@using (@Html.BeginForm("SendIncomes", "Person")){
    <form method="post" name="f" class="form-group">
        <table align="center">
            <tr>
                <td><label for="sueldo" class="form-group">Sueldo</label></td>
                <td><input type="number" placeholder="Ingrese su sueldo" name="sueldo" id="sueldo" value="0" class="form-control" onchange="sum()"/></td>
            </tr>
            <tr>
                <td><label for="bonos" class="form-group">Bonos</label></td>
                <td><input type="number" class="form-control" name="bonos" id="bonos" value="0" onchange="sum()"/></td>
            </tr>
            <tr>
                <td><label for="otros" class="form-group">Otros</label></td>
                <td><input type="number" class="form-control" name="otros" id="otros" value="0" onchange="sum()"/></td>
            </tr>
            
            <tr>
                <td><label for="Time">Dia</label></td>
                <td><input type="date" class="form-control" name="Time" /></td>
            </tr>
            <tr>
                <td><input type="number" hidden="hidden" value="@Session["IdPerson"]" name="PersonId"/></td>
            </tr>
            <tr>
                <td><label for="total" class="form-control">Total:</label></td>
                <td><input type="text" name="total" id="total" value="0" Class="form-control" readonly /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary"/></td>
            </tr>

        </table>
    </form>
}