﻿@model IEnumerable<Prueba_tecnica.Models.Category>
@{
    ViewBag.Title = "index";
}

<h2 align="center">Ingresos</h2>

<p align="center">Digite el monto total de sus ingresos en las siguientes categorias</p>
@using (@Html.BeginForm("SendIncomes","Person"))
    {
        <form method="post">
            <table align="center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><label for="@Html.DisplayFor(modelItem => item.Name)" class="form-group">@Html.DisplayFor(modelItem => item.Name)</label></td>
                        <td><input type="text" name="@Html.DisplayFor(modelItem => item.Name)" class="form-control"/></td>
                    </tr>
                }
                <tr>
                    <td><input type="submit" class="btn btn-primary"/></td>
                </tr>
            </table>
        </form>
    }
