﻿@model dynamic

@{

    ViewBag.Title = "Ajustes";
}


<h2 align="center">@ViewBag.Title</h2><br />
<div align="center">
    @using (@Html.BeginForm("ChangeName", "Person"))
    {
        <form method="post" class="form-group">
            <table>
                <tr>
                    <td><label for="Name">Nuevo Nombre</label></td>
                    <td><input type="text" name="Name" class="form-control"/></td>
                </tr>
                <tr>
                    <td><label for="password">Escriba su contraseña</label></td>
                    <td><input type="password" name="password" class="form-control"/></td>
                </tr>
                <tr>
                    <td><input type="number" name="PersonId" hidden="hidden" value="@Session["IdPerson"]"/></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary"/></td>
                </tr>
            </table>
        </form>
    }
</div>

