﻿@model dynamic

@{

    ViewBag.Title = "Ajustes";
}


<h2 align="center">@ViewBag.Title</h2><br/>
<div align="center">
    @Html.ActionLink("Cambiar Nombre", "ModifyName", "Person", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Cambiar Contraseña", "ModifyPassword", "Person", null, new { @class = "btn btn-primary" })
</div>

