﻿@model dynamic

@{
    ViewBag.Title = "Incomes";

}

<!DOCTYPE html>

<html>
<head>
    <title>Successful</title>
</head>
<body>
<div>
    <h1>@ViewBag.Message</h1>
    @Html.ActionLink("Volver","User")
</div>
</body>
</html>