﻿@using Prueba_tecnica.Models
@model dynamic

@{
    
    ViewBag.Title = "Bienvenido Usuario";
}

<h2 align="center">@ViewBag.Title</h2>
<br />
<div align="center">
    
    <p>@Html.ActionLink("Añadir Ingresos", "Ingresos", "Person", null, new {@class = "btn btn-primary"})</p>
    <p>@Html.ActionLink("Añadir Gastos", "Gastos", "Person", null, new {@class = "btn btn-primary"})</p>
    <p>@Html.ActionLink("Revisar Balance", "Informe", "Person", null, new {@class = "btn btn-primary"})</p>
    <p>@Html.ActionLink("Ajustes", "options", "Person", null, new { @class = "btn btn-primary" })</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}