﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Balance Financiero</h1>
    <p class="lead">Bienvenido.</p>
    @if (Session["IdPerson"] != null)
    {
        @Html.ActionLink("Panel","User","Person",null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cerrar Sesion", "logout", "Person", null, new { @class = "btn btn-primary" })
    }
    else
    {
        {<p>@Html.ActionLink("Crear Cuenta", "Register", "Home", null, new { @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Ingresar", "Login", "Home", null, new { @class = "btn btn-primary" })</p>}
    }
</div>
