﻿@model Prueba_tecnica.Models.LoginViewModel
@{
    ViewBag.Title = "Ingresar";
}
    <h2 align="center">@ViewBag.Title.</h2>
    <br />
<div>
    @using (Html.BeginForm("Login", "Person"))
    {
        <form method="post" class="form-control">
            <table align="center">
                <tr>
                    <td><label for="Email" class="form-group">Correo</label></td>
                    <td><input type="email" name="Email" placeholder="Ingrese Correo" class="form-control" required="required"/></td>
                </tr>
                <tr>
                    <td><label for="Contra" class="form-group">Contraseña</label></td>
                    <td><input type="password" class="form-control" name="Contra" placeholder="Ingrese contraseña" required="required"></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary" value="Ingresar"/></td>
                </tr>
            </table>
        </form>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
