﻿@model Prueba_tecnica.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
}

<h2 align="center">@ViewBag.Title.</h2>
<br/>
@using (Html.BeginForm("Register", "Person"))
{
    <form method="post" class="form-control">
        <table align="center">
            <tr>
                <td>
                    <label for="Name" class="form-group">Nombre</label>
                </td>
                <td>
                    <input type="text" name="Name" placeholder="ingrese su nombre" class="form-control" required="required"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="Email" class="form-group">Email</label>
                </td>
                <td>
                    <input type="email" name="Email" placeholder="Ingrese Correo" class="form-control" required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Contra" class="form-group">Contraseña</label>
                </td>
                <td>
                    <input type="password" name="contra" placeholder="Ingrese contraseña" class="form-control" required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-success" value="Registrar"/>
                </td>
            </tr>
        </table>
    </form>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
