﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prueba Tecnica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["IdPerson"] != null)
                {
                    @Html.ActionLink("Panel", "User", "Person",null,new {@class = "navbar-brand"})
                    @Html.ActionLink("Cerrar Sesion", "logout", "Person", null, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Balance Financiero", "Index", "Home", null, new { @class = "navbar-brand" })
                    @Html.ActionLink("Ingresar", "Login", "Home", null, new { @class = "navbar-brand" })
                }
            </div>
           </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Balance Financiero</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
